.allaboard-snippet {
    color: #3c3c3c;
    margin: 12px auto;
    font-size: .9rem;
    width: 470px;
}

.allaboard-snippet .button {
    position: relative;
    display: inline-block;
    background-color: #0095dd;
    color: #fff;
    padding: 10px 36px;
    border: 2px solid #0092cc;
    border-radius: 4px;
    font-size: 1rem;
    text-align: center;
    width: 50%;
    cursor: pointer;
    transition: background-color .1s ease-in-out;
}

.allaboard-snippet .button:hover,
.allaboard-snippet .button:focus {
    background-color: #33aae4;
    border-color: #0092cc;
}

.allaboard-snippet .button:active {
    position: relative;
    top: 1px;
}
