html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #f6f6f6;
    color: #4a5160;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
}

header {
    padding-top: 20px;
}

a:link,
a:visited {
    color: #0073aa;
}

a:hover,
a:focus {
    text-decoration: none;
}

.sidebar-content {
    width: 320px;
    height: auto;
    text-align: center;
}

.sidebar-content h1 {
    margin: 0;
    padding-bottom: 40px;
    font-size: 1.5rem;
}

.sidebar-content.utility h1 {
    padding-bottom: 0;
}

.sidebar-content p {
    line-height: 1.5;
}

.sidebar-content main,
.sidebar-content footer {
    padding: 40px;
}

/* styleing for search providers image */
.search-providers {
    display: block;
    margin: 20px 0;
}

/* specific sidebar styling for the values track */
.sidebar-content.values {
    padding: 20px;
    text-align: left;
}

.sidebar-content.values header {
    padding: 10px 0 20px;
}

.sidebar-content.values main,
.sidebar-content.values footer {
    padding: 20px;
}

.sidebar-content.values main {
    padding-bottom: 40px;
}

.sidebar-content footer {
    padding-top: 0;
}

.sidebar-content.values header img {
    display: block;
    margin: 0 auto;
}

.secondary-content {
    height: auto;
    opacity: 1;
    transition: height 1s,
                opacity 1s;
}

.user-data {
    text-align: left;
}

.user-data li {
    overflow: hidden;
    line-height: 1;
    padding: 10px;
    margin: 0;
}

.user-data li:hover {
    background-color: #e8e8e8;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 10px;
}

.hostname {
    font-size: .9rem;
}

/* styles for multiple choice sidebars */
.options {
    margin: 0 0 40px;
    padding: 0;
    list-style: none;
}

.options label {
    display: block;
    margin-bottom: 20px;
}

.options label span {
    display: inline-block;
    margin-left: 10px;
    max-width: 200px;
    vertical-align: middle;
    line-height: 1.2;
}

.options .answer {
    font-weight: bold;
}

/* import data sidebar */
.import-data {
    margin: 40px auto;
    padding: 0;
    width: 130px;
    list-style-type: none;
    text-align: left;
}

.import-data li {
    margin-bottom: 20px;
    font-weight: bold;
}

.import-data li:before {
    display: inline-block;
    content: '';
    padding: 3px 25px 0 5px;
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

.import-data .preferences:before {
    background: transparent url(../media/icons/preferences.png) 0 0 / 20px no-repeat;
}

.import-data .bookmarks:before {
    background: transparent url(../media/icons/bookmarks.png) 0 0 / 20px no-repeat;
}

.import-data .passwords:before {
    background: transparent url(../media/icons/passwords.png) 0 0 / 20px no-repeat;
}

.import-data .history:before {
    background: transparent url(../media/icons/history.png) 0 0 / 20px no-repeat;
}

.moving-truck {
    margin-top: 20px;
}

/* tokens */
.tokens {
    margin: 0;
    padding: 0;
    width: 240px;
    list-style: none;
}

.tokens li {
    display: inline-block;
    margin-left: 3px;
    border: 2px dotted #55565A;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.tokens li:first-child {
    margin: 0;
}

.tokens li img {
    display: none;
}

.tokens li.active {
    border: 0;
}

.tokens li.active img {
    display: inline-block;
}

.options-response {
    font-style: italic;
}

/* buttons */
.button {
    position: relative;
	display: inline-block;
    background-color: #0095dd;
	color: #fff;
	padding: 10px 36px;
    border: 2px solid #0092cc;
	border-radius: 4px;
	font-size: 1rem;
	text-align: center;
    width: 100%;
	cursor: pointer;
	transition: background-color .1s ease-in-out;
}

.mobile img {
    margin: 10px 0;
}

.reset {
    background: none;
    color: #333;
    border: 0;
}

.button-container button {
    margin-bottom: 20px;
}

.button-container button:last-child {
    margin: 0;
}

.button:hover,
.button:focus {
    background-color: #33aae4;
    border-color: #0092cc;
}

.reset:hover,
.reset:focus {
    background: none;
    border: 0;
}

.button:active {
    position: relative;
    top: 1px;
}

/* utility */
.hidden {
    display: none;
}

/* Utility class for hiding elements that should fade in */
.hide {
    height: 0;
    opacity: 0;
}
