html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #edecec;
    color: #4a5160;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
}

.sidebar-content {
    background-color: #f6f6f6;
    width: 320px;
    height: 100vh;
    text-align: center;
}

.sidebar-content h1 {
    margin-top: 0;
    font-size: 2rem;
}

.sidebar-content p {
    line-height: 1.5;
}

.sidebar-content main,
.sidebar-content footer {
    padding: 20px;
}

/* form element styles */
.multiple-choice {
    text-align: left;
}

.multiple-choice label {
    display: block;
    margin-bottom: 15px;
    line-height: 1.5;
}

.multiple-choice input[type="radio"] {
    margin-right: 10px;
}

.multiple-choice button {
    margin-top: 40px;
    width: 100%;
}

/* import data sidebar */
.import-data {
    margin: 40px auto;
    padding: 0;
    width: 130px;
    list-style-type: none;
    text-align: left;
}

.import-data li {
    margin-bottom: 20px;
    font-weight: bold;
}

.import-data li:before {
    display: inline-block;
    content: '';
    padding: 3px 25px 0 5px;
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

.import-data .preferences:before {
    background: transparent url(../media/icons/preferences.png) 0 0 / 20px no-repeat;
}

.import-data .bookmarks:before {
    background: transparent url(../media/icons/bookmarks.png) 0 0 / 20px no-repeat;
}

.import-data .passwords:before {
    background: transparent url(../media/icons/passwords.png) 0 0 / 20px no-repeat;
}

.import-data .history:before {
    background: transparent url(../media/icons/history.png) 0 0 / 20px no-repeat;
}

.moving-truck {
    margin-top: 20px;
}

/* badges */
.badges {
    margin: 0;
    padding: 0;
    list-style: none;
}

.badges li {
    display: inline-block;
    margin-right: 10px;
    border: 2px dotted #e0e0e0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

/* buttons */
.button {
    position: relative;
	display: inline-block;
    background-color: #0095dd;
	color: #fff;
	padding: 10px 36px;
    border: 2px solid #0092cc;
	border-radius: 4px;
	font-size: 1.25rem;
	text-align: center;
	cursor: pointer;
	transition: background-color .1s ease-in-out;
}

.button:hover,
.button:focus {
    background-color: #33aae4;
    border-color: #0092cc;
}

.button:active {
    position: relative;
    top: 1px;
}

/* utility */
.hidden {
    display: none;
}
