body {
    background-color: #edecec;
    color: #333;
    font-family: sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 2rem;
}

.container {
    width: 450px;
    min-width: 300px;
    max-width: 35%;
}
