/* buttons */
.button {
    position: relative;
    display: inline-block;
    background-color: transparent;;
    color: #fff;
    margin-top: 50px;
    padding: 15px 26px;
    border: 2px solid #fff;
    border-radius: 4px;
    font-size: 1.1rem;
    font-weight: 300;
    text-align: center;
    width: 85%;
    cursor: pointer;
    transition: background-color .1s ease-in-out;
}

.button.small {
    padding: 5px 18px;
    width: 200px;
    font-size: .9rem;
}

.button.reset {
    margin-bottom: 10px;
}

.button:hover,
.button:focus {
    background-color: #fff;
    color: #333;
}

.button:active {
    position: relative;
    top: 1px;
}

.start-experience {
    margin-top: 20px;
    padding: 10px;
    border-radius: 50%;
    width: 24%;
    font-size: 1rem;
}

.start-experience:after,
.selfpaced-content button:after {
    display: inline-block;
    content: '';
    background: transparent url('../media/progress/arrow.svg') 0 5px no-repeat;
    background-size: 12px 12px;
    margin-left: 5px;
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

.start-experience:after {
    background: transparent url('../media/sidebar/get-started-arrow.svg') 0 5px no-repeat;
    background-size: 32px 32px;
    width: 40px;
    height: 40px;
}

.start-experience:hover:after {
    background-image: url('../media/sidebar/get-started-arrow-over.svg');
}

.selfpaced-content button {
    background: none;
    color: #333;
    margin-top: 20px;
    padding: 0;
    border: 0;
    font-size: 100%;
    cursor: pointer;
}

.selfpaced-content button:after {
    background-image: url('../media/progress/arrow-black.svg');
}
