#all-aboard {
    background-color: #fff;
    color: #333;
    margin: 0 auto;
    border-radius: 4px;
    max-width: 600px;
}

#all-aboard a:link,
#all-aboard a:visited {
    color: #0095dd;
    margin-top: 20px;
}

#all-aboard a:hover,
#all-aboard a:focus {
    color: #0095dd;
    text-decoration: none;
}

#all-aboard header {
    padding: 20px;
    text-align: left;
}

#all-aboard.step2 header {
    margin-bottom: 0;
}

#all-aboard h2 {
    color: #333;
    margin-bottom: 20px;
    font-size: 1.3rem;
    font-weight: bold;
}

#all-aboard header h2 {
    display: inline;
    margin-right: 50px;
}

#all-aboard label {
    display: block;
    margin-top: 15px;
    width: 70px;
}

#all-aboard input[type="radio"] {
    margin-right: 10px;
}

#all-aboard .what-matters {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: left;
}

#all-aboard .what-matters label {
    width: auto;
}

#all-aboard footer {
    background-color: #f4f4f4;
    margin-top: 0;
    padding: 10px 20px 20px;
    border-radius: 0 0 4px 4px;
    text-align: left;
}

#all-aboard footer .intro-message {
    display: inline-block;
    max-width: 440px;
    font-size: .75rem;
}

#all-aboard footer a:link,
#all-aboard footer a:visited {
    display: inline-block;
}

/* no thanks fx accounts link */
.no-thanks {
    display: block;
    margin-top: 20px;
    font-size: 1rem;
}

.button.hidden,
.hidden {
    display: none;
}
