.all-aboard-container {
    background-color: #fff;
    color: #333;
    margin: 70px auto 0;
    padding: 2rem;
    border-radius: 4px;
    max-width: 450px;
}

.all-aboard-container h2 {
    color: #333;
    margin-bottom: 20px;
}

.all-aboard-container label {
    display: inline-block;
    width: 100px;
}

.all-aboard-container input[type="radio"] {
    margin-right: 20px;
}

.all-aboard-container button {
    display: block;
    margin: 20px auto 0;
}

.all-aboard-container a:link,
.all-aboard-container a:visited {
    display: block;
    margin-top: 20px;
    color: #333;
}

.all-aboard-container a:hover,
.all-aboard-container a:focus {
    text-decoration: none;
}
